@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="form-title">
        Starting Address
    </h1>

</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <img class="img-road img-right" src="https://thumbs.dreamstime.com/z/long-winding-road-2706478.jpg" />
        </div>
        <div class="col-4 text-center">
            <form asp-action="GetByZip">
                <div class="mb-3">
                    <label  class="form-label" for="Address">Street: </label>
                    <input class="form-control" type="text" id="Address" name="Address" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="City">City: </label>
                    <input class="form-control" type="text" id="City" name="City" />
                </div>
                <div class="mb-3"> 
                    <label class="form-label" for="State">State: </label>
                    <input class="form-control" type="text" id="State" name="State" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="Zip">Zip: </label>
                    <input class="form-control" id="Zip" name="Zip" type="text" />
                </div>
                <div>
                <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </form>
        </div>
        <div class="col-4">
                <img class="img-road img-left" src="https://thumbs.dreamstime.com/z/long-winding-road-2706478.jpg" />

        </div>

    </div>

</div>

